<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Net Cuisine</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/sidebar/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/sidebar/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/sidebar/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/sidebar/css/style.css">
</head>
<body>
    <aside class="sidebar">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="side-inner">

            <div class="profile">
                <img src="~/Images/f.jpg" alt="Image" class="img-fluid">
                <h3 class="name">Net Cuisine</h3>
                <span class="country">Multan, Pakistan</span>
            </div>
            <div class="nav-menu">
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Role">Roles</a>
                    </li>
                    <li>
                        <a asp-action="OrderListAll" asp-controller="Cart">Orders</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a asp-action="Index" asp-controller="ProductCategory">Product Category</a>
                            </li>
                            <li>
                                <a asp-action="Create" asp-controller="ProductCategory">Add Category</a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Product">Products</a>
                            </li>
                            <li>
                                <a asp-action="Create" asp-controller="Product">Add Product</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
          @*  <div class="nav-menu">
                <ul>
                    <li class="active"><a href="#"><span class="icon-home mr-3"></span>Feed</a></li>
                    <li><a href="#"><span class="icon-search2 mr-3"></span>Explore</a></li>
                    <li><a href="#"><span class="icon-notifications mr-3"></span>Notifications</a></li>
                    <li><a href="#"><span class="icon-location-arrow mr-3"></span>Direct</a></li>
                    <li><a href="#"><span class="icon-pie-chart mr-3"></span>Stats</a></li>
                    <li><a href="#"><span class="icon-sign-out mr-3"></span>Sign out</a></li>
                </ul>
            </div>*@
        </div>

    </aside>

    <div style="max-width:93%" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/sidebar/js/jquery-3.3.1.min.js"></script>
    <script src="~/sidebar/js/popper.min.js"></script>
    <script src="~/sidebar/js/bootstrap.min.js"></script>
    <script src="~/sidebar/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
