@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}







<div class="page-content">
    <div class="form-v5-content">
        <form class="form-detail" action="Login" method="post">
            <h2>NetCuisine Log-In</h2>
            
            <div class="form-row">
                <label for="Email">Email</label>
                <input type="text" name="Email" id="Email" class="input-text" placeholder="Email" required>
                <i class="fas fa-user"></i>
            </div>
            <div class="form-row">
                <label for="Password">Password</label>
                <input type="password" name="Password" id="Password" class="input-text" placeholder="Your Password" required>
                <i class="fas fa-lock"></i>
            </div>
            <div class="form-row-last">
                <input type="submit" name="Log in" class="" value="Log in">
            </div>

            @*<input type="hidden" name="Id" id="Id" />*@
        </form>
    </div>
</div>