@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}





<h2>Login Form</h2>

<form action="userLogin" method="post">
    <label for="lblname">ID</label><br>
    <input type="text" class="form-control" id="txtID" name="Id" value=""><br>
    <label for="lblname">User Name</label><br>
    <input class="form-control" type="text" id="txtName" name="UserName" value=""><br>
    <label for="lname">Password:</label><br>
    <input class="form-control" type="password" id="txtPass" name="password" value=""><br><br>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
