@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="text-center seosans" style="text-transform:uppercase;margin-bottom:20px;">About Us</h2>
<div class=" col-lg-10 offset-lg-1">
               
                 <div class="text-center" style="margin-bottom:40px;font-size:15px;">
                   Net Cuisine offers Crunchy Thin Crust, Italiano & Classic Hand Tossed pizzas with a wide variety of toppings. It also offers variety of other fast food items like Petty and Beef burgers. Our brand is a spiting image or innovation and flavor. Our success lies in the unending devotion to keep delivering the biggest, yummiest pizza in town with the use of freshest toppings, the finest sauces and only the most delectable cheese, fuelled by the love and encouragement of our fans.
                   </div>
                   
                   
                   <div class="text-center"><img class="" src="https://www.14thstreetpizza.com/website/images/linebreak.png"></div>

                  
                  <div>
                  </div> 
            
                
            </div>
