@model NetCuisine.Models.OrderModel

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Cart</a>
                <span class="breadcrumb-item active">Checkout</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Start -->
<div class="container-fluid">
    <form asp-action="CheckOut">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>

                <div class="bg-light p-30 mb-5">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-6 form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" pattern="[A-Za-z]+" title="Only Text Allowed" required />
                            <div class="invalid-feedback">
                                Please enter a message in the textarea.
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div style="display:none" class="col-md-6 form-group">
                            <input asp-for="UserId" class="form-control" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" type="email" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="Phone"></label>
                            <input asp-for="Phone" placeholder="123-45-678" class="form-control" pattern="[0-9]+" title= "Only Numbers Allowed " required />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" required />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="City"></label>
                            <input asp-for="City" class="form-control" required />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="Province"></label>
                            <input asp-for="Province" class="form-control" required />
                            <span asp-validation-for="Province" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Products</h6>
                        @foreach (var item in ViewBag.cart)
                        {
                            <div class="d-flex justify-content-between">
                                <p>@item.Product.Name</p>
                                <p>Rs @item.Product.Price</p>
                            </div>
                        }
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>Rs @ViewBag.total</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                    <div class="bg-light p-30">
                        
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" asp-for="PaymentMethod" value="Cash on Delivery" required />Cash on Delivery (Charges: Rs 100)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio form-check">
                                <input type="radio" asp-for="PaymentMethod" value="On Arrival" required />On Arrival
                            </div>
                        </div>
                        <input class="btn btn-block btn-primary font-weight-bold py-3" type="submit" value="Place Order" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Checkout End -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }